<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/style.css' />
    <title>Backend 47305</title>
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/realtimeproducts">Productos en tiempo real</a>
        <a href="/chat">Aplicación de chat</a>
    </nav>
    <hr>
    {{{body}}}
</body>

</html>